<div id="statistics-control">
    <input auto-complete ui-items="ALL_MEMBERS" ng-model="nickname">
    <select ng-model="season" required ng-options='option for option in SEASONS'></select>
    <button ng-click="showStatistics(nickname, season)">Show Statistics</button>
</div>

<table ng-hide="hidden" id="statistics-table">
    <tr>
        <td colspan="2" class="statistic-table-title">
            Base Statistics
        </td>
    </tr>
    <tr>
        <td style="width: 50%;">
            <canvas id="fouls"
                    class="chart chart-bar"
                    data="statistics.fouls.data"
                    labels="statistics.fouls.labels"
                    series="foulsSeries"
                    legend="true"
                    colours="colours"></canvas>
            <canvas id="bestVoices"
                    class="chart chart-bar"
                    data="statistics.bestVoices.data"
                    labels="statistics.bestVoices.labels"
                    series="bestVoicesSeries"
                    legend="true"
                    colours="colours"></canvas>

        </td>
        <td>
            <table id="base-statistics-table">
                <tr>
                    <td>Количество сыгранных игр</td>
                    <td>{{statistics.table.all}}</td>
                </tr>
                <tr>
                    <td>Процент побед</td>
                    <td>{{statistics.table.wins | number:0}}</td>
                </tr>
                <tr>
                    <td>Количество сыгранных игр доном</td>
                    <td>{{statistics.table.allDon}}</td>
                </tr>
                <tr>
                    <td>Процент побед доном</td>
                    <td>{{statistics.table.winsDon | number:0}}</td>
                </tr>
                <tr>
                    <td>Количество сыгранных игр мафией</td>
                    <td>{{statistics.table.allMafia}}</td>
                </tr>
                <tr>
                    <td>Процент побед мафией</td>
                    <td>{{statistics.table.winsMafia | number:0}}</td>
                </tr>
                <tr>
                    <td>Количество сыгранных игр мирным</td>
                    <td>{{statistics.table.allCitizen}}</td>
                </tr>
                <tr>
                    <td>Процент побед мирным</td>
                    <td>{{statistics.table.winsCitizen | number:0}}</td>
                </tr>
                <tr>
                    <td>Количество сыгранных игр шерифом</td>
                    <td>{{statistics.table.allSheriff}}</td>
                </tr>
                <tr>
                    <td>Процент побед шерифом</td>
                    <td>{{statistics.table.winsSheriff | number:0}}</td>
                </tr>
                <tr>
                    <td>Количество голосов за лучшего в среднем за игру</td>
                    <td>{{statistics.table.bestVoicesPerGame | number:2}}</td>
                </tr>
                <tr>
                    <td>Количество фолов в среднем за игру</td>
                    <td>{{statistics.table.foulsPerGame | number:2}}</td>
                </tr>
                <tr>
                    <td>Убивался в первую ночь (кол. раз)</td>
                    <td>{{statistics.table.killed}}</td>
                </tr>
                <tr>
                    <td>Убивался вообще (кол. раз)</td>
                    <td>{{statistics.table.killedFirst}}</td>
                </tr>
                <tr>
                    <td>Уходил красным после голосования (кол. раз)</td>
                    <td>{{statistics.table.outRed}}</td>
                </tr>
                <tr>
                    <td>Сливался красным при девятерых (кол. раз)</td>
                    <td>{{statistics.table.outFirstRed}}</td>
                </tr>
                <tr>
                    <td>Уходил черным при девятерых</td>
                    <td>{{statistics.table.outFirstBlack}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="statistic-table-title">
            Games Count vs. Table Position
            <label class="role-select-label" for="position-role">For role:</label>
            <select id="position-role"
                    ng-model="positionRole"
                    required ng-options='option for option in ALL_WITH_ROLES'></select>
        </td>
    </tr>
    <tr>
        <td>
            <canvas id="positions"
                    class="chart chart-bar"
                    data="statistics.positions.data"
                    labels="statistics.positions.labels"
                    series="series"
                    legend="true"
                    colours="colours"></canvas>
        </td>
        <td><canvas id="positionsDoughnut"
                    class="chart chart-doughnut"
                    data="statistics.positions.data[0]"
                    labels="statistics.positions.labels"></canvas></td>
    </tr>
    <tr>
        <td colspan="2" class="statistic-table-title">
            Games Count vs. Role
        </td>
    </tr>
    <tr>
        <td><canvas id="roles"
                    class="chart chart-bar"
                    data="statistics.roles.data"
                    labels="statistics.roles.labels"
                    series="series"
                    legend="true"
                    colours="colours"></canvas></td>
        <td><canvas id="rolesDoughnut"
                    class="chart chart-doughnut"
                    data="statistics.roles.data[0]"
                    labels="statistics.roles.labels"></canvas></td>
    </tr>
    <tr>
        <td colspan="2" class="statistic-table-title">
            Games Count vs. Life
            <label class="role-select-label" for="life-role">For role:</label>
            <select id="life-role"
                    ng-model="lifeRole"
                    required ng-options='option for option in ALL_WITH_ROLES'></select>
        </td>
    </tr>
    <tr>
        <td>
            <canvas id="lives"
                    class="chart chart-bar"
                    data="statistics.lives.data"
                    labels="statistics.lives.labels"
                    series="series"
                    legend="true"
                    colours="colours"></canvas>
        </td>
        <td><canvas id="livesDoughnut"
                    class="chart chart-doughnut"
                    data="statistics.lives.data[0]"
                    labels="statistics.lives.labels"></canvas></td>
    </tr>
    <tr>
        <td colspan="2" class="statistic-table-title">
            Games Count vs. Game Result
        </td>
    </tr>
    <tr>
        <td><canvas id="results"
                    class="chart chart-bar"
                    data="statistics.results.data"
                    labels="statistics.results.labels"
                    series="series"
                    legend="true"
                    colours="colours"></canvas></td>
        <td><canvas id="resultsDoughnut"
                    class="chart chart-doughnut"
                    data="statistics.results.data[0]"
                    labels="statistics.results.labels"></canvas></td>
    </tr>
</table>
