<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans     
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-4.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<util:properties id="ratingProperties" location="classpath:rating.properties"/>

	<bean id="successHandler" class="com.tyhyidon.faust.game.security.AuthenticationSuccessHandler"/>
	<bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/>
	<bean id="authenticationService" class="com.tyhyidon.faust.game.security.AuthenticationServiceImpl"/>
	<bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>
	<bean id="authenticationProvider" class="com.tyhyidon.faust.game.security.MafiaAuthenticationProvider">
		<property name="userDetailsService" ref="authenticationService"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
	</bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="authenticationProvider"/>
	</security:authentication-manager>

</beans>