<div id="gameContainer" ng-controller="gameController">
    {{nicknames}}
    <table>
        <tr>
            <th>Season</th>
            <th>Date</th>
            <th>Result</th>
            <th>Master</th>
        </tr>
        <tr>
            <td><input id="season" value="4"></td>
            <td><input id="date" class="datepicker date"></td>
            <td><select id="result">
                <option value="1">clear city win</option>
                <option value="2">city win</option>
                <option value="3">mafia win</option>
                <option value="4">clear mafia win</option>
            </select></td>
            <td>
                <input id="master">
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th>Number</th>
            <th>NickName</th>
            <th>Role</th>
            <th>Life</th>
            <th>Best Voices</th>
            <th>Final Decision</th>
            <th>Fouls</th>
            <th>Rating</th>
            <th>Кто выставил</th>
            <th>Кого выставил</th>
            <th>Сколько проголосовало</th>
        </tr>
        <tr ng-repeat="i in range(PLAYERS_AMOUNT) track by $index">
            <td>
                {{$index + 1}}
            </td>
            <td>
                <input id="nickname_{{$index + 1}}">
            </td>
            <td>
                <select id="role_{{$index + 1}}">
                    <option value="3" default>Citizen</option>
                    <option value="2">Mafia</option>
                    <option value="1">Don</option>
                    <option value="4">Sheriff</option>
                </select>
            </td>
            <td>
                <select id="life_{{$index + 1}}">
                    <option value="12" default>not away</option>
                    <option value="1">killed 1 night</option>
                    <option value="2">killed 2 night</option>
                    <option value="3">killed 3 night</option>
                    <option value="4">killed 4 night</option>
                    <option value="5">killed 5 plus night</option>
                    <option value="6">away 0 day</option>
                    <option value="7">away 1 day</option>
                    <option value="8">away 2 day</option>
                    <option value="9">away 3 day</option>
                    <option value="10">away 4 day</option>
                    <option value="11">away 5 plus day</option>
                </select>
            </td>
            <td>
                <select id="bestVoices_{{$index + 1}}">
                    <option ng-repeat="i in range(PLAYERS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
                </select>
            </td>
            <td>
                <select id="finalDecision_{{$index + 1}}">
                    <option ng-repeat="i in range(PLAYERS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
                </select>
            </td>
            <td>
                <select id="fouls_{{$index + 1}}">
                    <option ng-repeat="i in range(MAX_FOULS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
                </select>
            </td>
            <td>
                <label id="rating_{{$index + 1}}"></label>
            </td>
            <td>
                <input type="text" class="voting"/>
            </td>
            <td>
                <input type="text" class="voting"/>
            </td>
            <td>
                <input type="text" class="voting"/>
            </td>
        </tr>
    </table>
</div>