<div id="gameContainer" ng-controller="gameController">
    <table>
        <thead>
            <th>Season</th>
            <th>Date</th>
            <th>Result</th>
            <th>Master</th>
        </thead>
        <tr>
            <td><input ng-model="season" value="4"></td>
            <td><input ng-model="date" class="datepicker date"></td>
            <td><select ng-model="result">
                <option ng-repeat="i in RESULTS track by $index" value="{{$index + 1}}">{{i}}</option>
            </select></td>
            <td><input auto-complete ui-items="ALL_PLAYERS" ng-model="master"></td>
        </tr>
    </table>
    <br>
    <table>
        <thead>
            <th>Number</th>
            <th>NickName</th>
            <th>Role</th>
            <th>Life</th>
            <th>Best Voices</th>
            <th>Final Decision</th>
            <th>Fouls</th>
            <th>Rating</th>
            <th>Who</th>
            <th>Whom</th>
            <th>How Much</th>
        </thead>
        <tr ng-repeat="i in range(PLAYERS_AMOUNT) track by $index">
            <td>{{$index + 1}}</td>
            <td><input auto-complete ui-items="ALL_PLAYERS" ng-model="nicknames[$index]"></td>
            <td><select ng-model="roles[$index]">
                <option ng-repeat="i in ROLES track by $index" value="{{$index + 1}}">{{i}}</option>
            </select></td>
            <td><select ng-model="lives[$index]">
                <option ng-repeat="i in LIVES track by $index" value="{{$index + 1}}">{{i}}</option>
            </select></td>
            <td><select ng-model="bestVoices[$index]">
                    <option ng-repeat="i in range(PLAYERS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
            </select></td>
            <td><select ng-model="finalDecisions[$index]">
                    <option ng-repeat="i in range(PLAYERS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
            </select></td>
            <td><select ng-model="fouls[$index]">
                    <option ng-repeat="i in range(MAX_FOULS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
            </select></td>
            <td><label ng-model="rating[$index]"></label></td>
            <td><input type="text" class="voting"/></td>
            <td><input type="text" class="voting"/></td>
            <td><input type="text" class="voting"/></td>
        </tr>
    </table>
    <br>
    <button ng-click="calculateRating()">Calculate Rating</button>
    <button id="saveToDB">Save To DB</button>
    <br>
    <select ng-model="ratingSeason">
        <option ng-repeat="i in SEASONS track by $index" value="{{$index}}">{{i}}</option>
    </select>
    <button ng-click="showRating(ratingSeason)">Show Rating</button>
    <br>
    <input ng-model="newPlayer">
    <button ng-click="addNewPlayer(newPlayer)">Add New Player</button>
    <br>
    <button id="clearVoting">Clear Voting</button>
    <table><tr ng-repeat="i in ratingStrings"><td>{{i}}</td></tr></table>
</div>