<div id="gameContainer" ng-controller="gameController">
    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>

    <h2><timer auto-start="false" max-time-unit="'second'" countdown="countdown" interval="1000">{{seconds}}</timer></h2>
    <button ng-click="startTimer(60)">Start 60sec Timer</button>
    <button ng-click="startTimer(30)">Start 30sec Timer</button>
    <button ng-click="startTimer(time)">Start Timer</button>
    <input type="text" ng-model="time">
    <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
    <table class="table table-striped table-hover">
        <thead>
            <th>Season</th>
            <th>Date</th>
            <th>Result</th>
            <th>Master</th>
        </thead>
        <tr>
            <td><select ng-model="game.season">
                <option ng-repeat="i in SEASONS track by $index" value="{{$index}}">{{i}}</option>
            </select></td>
            <td><p class="input-group datepicker-group">
                <input type="text" class="form-control" datepicker-popup="{{gameDate.format}}" ng-model="gameDate.data"
                       is-open="gameDate.isOpened" datepicker-options="gameDate.options"
                       ng-required="true" close-text="Close" />
                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                </button></span>
            </p></td>
            <td><select ng-model="game.result">
                <option ng-repeat="i in RESULTS track by $index" value="{{$index + 1}}">{{i}}</option>
            </select></td>
            <td><input auto-complete ui-items="ALL_PLAYERS" ng-model="game.master"></td>
            <td><button ng-click="calculateRating()">Calculate Rating</button></td>
            <td><button ng-click="saveGame()">Save To DB</button></td>
        </tr>
    </table>
    <table class="table table-striped table-hover">
        <tr><td>Accused</td><td ng-repeat="a in accusations" class="accusation">{{a.accused}}</td></tr>
        <tr><td>Accuse</td><td ng-repeat="a in accusations" class="accusation">{{a.accuse}}</td></tr>
        <tr><td>Voices</td><td ng-repeat="a in accusations"class="accusation"><input placeholder="Voices"></td></tr>
    </table>
    <input type="text" ng-model="accused" placeholder="Accused">
    <input type="text" ng-model="accuse" placeholder="Accuse">
    <button ng-click="addAccusation()">Add Accusation</button>
    <button ng-click="removeAccusation()">Remove Accusation</button>
    <button ng-click="clearVoting()">Clear Voting</button>
    <table class="table table-striped table-hover">
        <thead>
            <th>Number</th>
            <th>NickName</th>
            <th>Role</th>
            <th>Life</th>
            <th>Best Voices</th>
            <th>Final Decision</th>
            <th>Fouls</th>
            <th>Rating</th>
        </thead>
        <tr ng-repeat="player in game.players track by $index">
            <td>{{$index+1}}</td>
            <td><input auto-complete ui-items="ALL_PLAYERS" ng-model="player.nickname"></td>
            <td><select ng-model="player.role">
                <option ng-repeat="i in ROLES track by $index" value="{{$index + 1}}">{{i}}</option>
            </select></td>
            <td><select ng-model="player.life">
                <option ng-repeat="i in LIVES track by $index" value="{{$index + 1}}">{{i}}</option>
            </select></td>
            <td><select ng-model="player.bestVoices">
                    <option ng-repeat="i in range(PLAYERS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
            </select></td>
            <td><select ng-model="player.finalDecision">
                    <option ng-repeat="i in range(PLAYERS_AMOUNT) track by $index" value="{{$index}}">{{$index}}</option>
            </select></td>
            <td><select ng-model="player.fouls">
                    <option ng-repeat="i in range(MAX_FOULS_AMOUNT + 1) track by $index" value="{{$index}}">{{$index}}</option>
            </select></td>
            <td><label>{{rating[$index]}}</label></td>
        </tr>
    </table>
    <input ng-model="newPlayer">
    <button ng-click="addNewPlayer(newPlayer)">Add New Player</button>
    <br><br>
    <select ng-model="ratingSeason">
        <option ng-repeat="i in SEASONS track by $index" value="{{$index}}">{{i}}</option>
    </select>
    <button ng-click="showRating(ratingSeason)">Show Rating</button>
    <table><tr ng-repeat="i in ratingStrings"><td>{{i}}</td></tr></table>
</div>