th, td{
    text-align: center;
}
.datepicker-group {
    width: 200px;
}
.accusation {
    text-align: center;
}
#loadingWidget {
    position: absolute;
    z-index:2000 ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 45%;
    background-color: rgba(0, 0, 0, 0.7);
}

#statistics-table {
    margin: 15px;
    width: 100%;
}

#base-statistics-table {
    width: 95%;
}

#statistics-table, #statistics-table td {
    border: 1px solid lightblue;
    padding: 2%;
}

.role-select-label {
    margin-left: 5%;
}
.statistic-table-title {
    font-size: large;
    background-color: lightblue;
}

#statistics-control {
    margin: 15px;
}
