th, td{
    text-align: center;
}
.datepicker-group {
    width: 200px;
}
.accusation {
    text-align: center;
}
#loadingWidget {
    position: absolute;
    z-index:2000 ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 45%;
    background-color: rgba(0, 0, 0, 0.7);
}
