<html>
<head>
    <script src="libs/js/jquery-1.10.2.js"></script>
    <script src="libs/js/jquery-ui-1.10.3.js"></script>
    <script src="libs/js/dist/jquery.jqplot.js"></script>
    <script src="libs/js/dist/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="libs/js/dist/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    <script src="js/main.js"></script>

    <link rel="stylesheet" href="libs/css/jquery-ui-1.10.3.css">
    <link rel="stylesheet" href="libs/js/dist/jquery.jqplot.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Mafia</title>
</head>
<body>
</body>
</html>